{% extends "web_app.html" %}


{% block contentTOP %}

        <a class="navbar-brand" href="{% url 'sm_login' %}">Login</a>

{% endblock %}

{% block content %}
     <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <form role="form"
               action="{% url 'sm_register' %}"
               method="post" >
               {% csrf_token %}
                <div class="form-group">
                {{ form }}
                </div>
                <button type="submit" class="btn btn-success">
                    Sign in
                </button>
             </form>
        </div>
    </div>




{% endblock %}