{% extends "web_app.html" %}



{% block contentTOP %}
    <div   class="navbar-form navbar-right">
        <a class="navbar-brand" href="{% url 'sm_logout' %}">Logout</a>
    </div>
{% endblock %}

{% block content %}

        <div class="jumbotron">

            <h2>Welcome {{user.username}}</h2>
            <p>
                Managing your own investments is like performing surgery on yourself. Most people don’t know how to invest,
                let alone when to buy and when to sell. Our expert financial analysts and editors do the heavy lifting for
                you, covering every facet of investing including stocks to buy for retirement, monthly income-payers,
                marijuana stocks and even the pink sheets. With our advice, you can live your best financial life.
            </p>



        </div>

        <script>
            var increment = 0;
            var api_values = [];
            var api_values_stored = [];
        </script>



        <script>

        function curencyChart(value_RON, value_USD, value_CHF) {

        var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,

            title:{
                text:"Curency"
            },
            axisX:{
                interval: 1
            },
            axisY2:{
                interlacedColor: "rgba(1,77,101,.2)",
                gridColor: "rgba(1,77,101,.1)",
                title: "1 EURO is:"
            },
            data: [{
                type: "bar",
                name: "companies",
                axisYType: "secondary",
                color: "#014D65",
                dataPoints: [
                    { y: value_RON, label: "RON" },
                    { y: value_USD, label: "USD" },
                    { y: value_CHF, label: "CHF" }
                ]
            }]
        });
        chart.render();

        }
        </script>

        <script>

            function addTable(api_values, rows, changes) {
              document.getElementById(changes).innerHTML = "";
              var myTableDiv = document.getElementById(changes);

              var table = document.createElement('TABLE');
              table.border = '1';

              var tableBody = document.createElement('TBODY');
              table.appendChild(tableBody);

              for (var i = 0; i < rows; i++) {
                var tr = document.createElement('TR');
                tableBody.appendChild(tr);

                for (var j = 0; j < api_values.length; j++) {
                  var td = document.createElement('TD');
                  td.width = '75';
                  if(i == 0)
                    td.appendChild(document.createTextNode(api_values[j]['value']));
                  if(i == 1)
                    td.appendChild(document.createTextNode(api_values[j]['RON']));
                  if(i == 2)
                    td.appendChild(document.createTextNode(api_values[j]['USD']));
                  if(i == 3)
                    td.appendChild(document.createTextNode(api_values[j]['CHF']));
                  if(i == 4)
                    td.appendChild(document.createTextNode('info:'+api_values[j]['message']));
                  if(i == 5) {
                     var clickMeButton = document.createElement('button');
                    clickMeButton.id = 'deleteButton'+j;
                    clickMeButton.innerHTML = 'Delete This' + j;


                    clickMeButton.onclick = new Function('delete_this' + j, 'api_values.splice('+j+',1); increment --;addTable(api_values,8,'+'\''+'myDynamicTable'+'\''+');');
                    td.appendChild(clickMeButton);
                  }
                  if(i == 6) {
                    var clickMeButton = document.createElement('button');
                    clickMeButton.id = 'addButton'+j;
                    clickMeButton.innerHTML = 'Add This' + j;


                    clickMeButton.onclick = new Function('add_this' + j, 'let set = 0;for (let k = 0 ; k < api_values_stored.length ; k += 1) { if( 0 == api_values['+j+']['+'\''+'value'+'\''+'].localeCompare(api_values_stored[k]['+'\''+'value'+'\''+'])){set = 1;break;}} if(set == 0) { if(api_values_stored.length > 20) api_values_stored.shift(); api_values_stored.push(api_values['+j+']); addTable(api_values_stored, 5, '+'\''+'dataStored'+'\''+'); }');
                    td.appendChild(clickMeButton);
                  }
                  if(i == 7) {
                   var inField = document.createElement("INPUT");
                   inField.setAttribute("type", "text");
                   inField.setAttribute("id", "myText"+j)
                   inField.setAttribute("value", "");
                   td.appendChild(inField);
                   var buttonMsg = document.createElement("button");
                   buttonMsg.id = 'msg'+j;
                   buttonMsg.innerHTML = 'add info';
                    //var x = document.getElementById( '+'\''+'myText'+'\''+'+'+j+').value; //api_values['+j+']['message'] = x;
                   buttonMsg.onclick = new Function('fctAddMsg'+j,'let msg = document.getElementById( '+'\''+'myText'+'\''+'+'+j+').value; console.log(msg); api_values['+j+'][ '+'\''+ 'message'+'\''+'] = msg; for (let k = 0 ; k < api_values_stored.length ; k += 1) { if( 0 == api_values['+j+']['+'\''+'value'+'\''+'].localeCompare(api_values_stored[k]['+'\''+'value'+'\''+'])){ api_values_stored[k][ '+'\''+ 'message'+'\''+'] = msg;addTable(api_values_stored, 5, '+'\''+'dataStored'+'\''+'); break;}} addTable(api_values,8,'+'\''+'myDynamicTable'+'\''+');');
                   td.appendChild(buttonMsg);
                  }
                  tr.appendChild(td);
                }
              }
              myTableDiv.appendChild(table);
            }



        </script>

        <script>


               function getDataStock(){
                  const url = '{% url 'stock_page_api'%}';
                  fetch(url)
                  .then((resp) => resp.json())
                  .then(function(data) {
                    document.querySelector('.api_date .value_api_date').innerHTML = data['date'];
                    document.querySelector('.RON .value_RON').innerHTML = data['RON'];
                    document.querySelector('.USD .value_USD').innerHTML = data['USD'];
                    document.querySelector('.CHF .value_CHF').innerHTML = data['CHF'];
                    document.querySelector('.date .value_date').innerHTML = data['value'];
                    curencyChart(data['RON'], data['USD'], data['CHF']);
                    increment ++;
                    data['message'] = '';
                    if( api_values.length >= 10) {
                    api_values.shift();
                    api_values.push(data);
                    } else {
                    api_values.push(data);
                    }
                    addTable(api_values,8,"myDynamicTable");
                  })
                  .catch(function(error) {
                    console.log(error);
                  });
                console.log(api_values.length);
                console.log(api_values[0]);
              }

        </script>
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script type="text/javascript">
        getDataStock();
        $(document).ready(function(){

            setInterval('getDataStock()', 10 * 1000);
        });
        </script>




        <div id="chartContainer" style="height: 370px; width: 100%;"></div>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

        <table  class="table table-striped table-condensed">
                  <tr>
                      <th>
                          <div class="api_date"><span class='value_api_date'></span></div>
                      </th>

                      <th>
                          <div class="RON"><span class='value_RON'></span></div>
                      </th>

                      <th>
                          <div class="USD"><span class='value_USD'></span></div>
                      </th>

                      <th>
                          <div class="CHF"><span class='value_CHF'></span></div>
                      </th>

                      <th>
                          <div class="date"><span class='value_date'></span></div>
                      </th>
                  </tr>

        </table>
        <div id="myDynamicTable"></div>
        <div id="dataStored"></div>

{% endblock %}