{% extends "web_app.html" %}

{% block contentTOP %}
    <div   class="navbar-form navbar-right">
        <a class="navbar-brand" href="{% url 'sm_logout' %}">Logout</a>
    </div>
{% endblock %}

{% block content %}
     <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h2>Welcome {{user.username}}</h2>
            <p>
                Managing your own investments is like performing surgery on yourself. Most people don’t know how to invest,
                let alone when to buy and when to sell. Our expert financial analysts and editors do the heavy lifting for
                you, covering every facet of investing including stocks to buy for retirement, monthly income-payers,
                marijuana stocks and even the pink sheets. With our advice, you can live your best financial life.
            </p>
              <li>{{ date }}</li>
             <li>{{ RON }}</li>
               <li>{{ USD }}</li>
               <li>{{ CHF }}</li>
          </div>
        </div>


{% endblock %}